:root {
  --font-family: "Barlow Semi Condensed", "Public Sans", sans-serif;
  --darkBlue: hsl(233, 26%, 24%);
  --Green: hsl(136, 64%, 51%);
  --Cyan: hsl(192, 69%, 51%);
  --Gray-600: hsl(233, 8%, 62%);
  --Gray-100: hsl(220, 16%, 96%);
  --Gray-50: hsl(0, 0%, 98%);
  --White: hsl(0, 100%, 100%);
}
/*Remove default padding and margin */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

img {
  display: block;
}

section {
  padding: 4rem 0;
  font-weight: 300;
}

section p {
  color: var(--Gray-600);
}

section h2 {
  font-weight: 300;
  font-size: 2.25rem;
}

body {
  font-size: 18px;
  font-family: var(--font-family);
  line-height: 1.4;
}

.rq-btn {
  cursor: pointer;
  background: var(--Green);
  background: -moz-linear-gradient(
    90deg,
    rgb(50, 210, 93) 0%,
    rgb(44, 182, 216) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgb(50, 210, 93) 0%,
    rgb(44, 182, 216) 100%
  );
  background: linear-gradient(
    90deg,
    rgb(50, 210, 93) 0%,
    rgb(44, 182, 216) 100%
  );
  color: var(--White);
  padding: 12px 24px;
  font-weight: 700;
  border-radius: 20px;
  border: 0;
}
.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.rq-btn:hover {
  filter: brightness(1.1);
}

.grid-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.btns {
  display: none;
}

.close-nav {
  display: none;
}

.hmbgr-nav {
  display: none;
}

nav {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

nav .navbar {
  color: var(--Gray-100);
  display: flex;
  gap: 30px;
}

nav .navbar li {
  cursor: pointer;
}

nav .navbar li a {
  color: var(--Gray-600);
}
nav .navbar li:hover a {
  color: var(--darkBlue);
}
nav .navbar li:hover {
  border-bottom: 2px solid var(--Green);
}

header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.hero {
  display: flex;
  position: relative;
  padding-top: 80px;
  padding-bottom: 4rem;
  font-weight: 300;
}

.hero-body {
  align-self: center;
}

.hero-body h1 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.1;
}

.hero-img img {
  max-width: 100%;
  height: auto;
}

.hero-body p {
  color: var(--Gray-600);
  margin: 2rem 0;
}
.hero-img .phone {
  width: 45%;
  margin-left: auto;
  position: absolute;
  top: 15px;
  z-index: 5;
}

.why {
  background-color: var(--Gray-100);
}

.why .section-header p {
  margin: 2rem 0 4rem 0;
}
.why .section-header h3 {
  margin: 1.5rem 0;
}

.Latest-articles {
  background-color: var(--Gray-50);
}

.Latest-articles .section-header {
  margin-bottom: 3rem;
}

.Latest-articles .item img {
  width: 100%;
  height: 5rem;
  object-fit: cover;
}

.Latest-articles .item {
  border-radius: 5px;
  overflow: hidden;
}

.Latest-articles .item .card-description {
  background-color: var(--White);
  padding: 1.5rem;
}
.Latest-articles .card-description .author {
  font-size: 1rem;
}

.Latest-articles .card-description .article-title {
  color: var(--darkBlue);
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}

footer {
  background-color: var(--darkBlue);
  color: white;
  padding: 2.5rem 0;
  font-weight: 300;
}

footer .footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 1rem;
}

footer .footer-grid .footer-item:nth-child(4) {
  margin-left: auto;
  text-align: end;
}

footer .footer-grid .footer-item .logo {
  margin-bottom: 2rem;
}

footer .footer-grid .footer-item .social-icons {
  display: flex;
  gap: 0.75rem;
}

footer .footer-grid .footer-item p {
  margin-bottom: 1rem;
}

footer .footer-grid .footer-item p a {
  color: var(--Gray-100);
}

footer .footer-grid .footer-item:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .footer-grid .footer-item:nth-child(4) button {
  margin-bottom: 3rem;
}

.mobile-overlay {
  background-color: var(--darkBlue);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 6;
  opacity: 25%;
}

@media (max-width: 1024px) {
  .grid-col {
    grid-template-columns: 1fr 1fr;
  }
  nav .rq-btn {
    display: none;
  }
  nav .navbar {
    background-color: white;
    width: 80%;
    padding: 1rem 0;
    text-align: center;
    flex-direction: column;
    position: absolute;
    transform: translateY(-150%);
    border-radius: 5px;
    transition: all 200ms ease;
    z-index: 5;
  }
  nav .navbar.show {
    transform: translateY(30%);
  }
  .btns {
    display: block;
  }
  .hmbgr-nav {
    display: block;
  }
  .mobile-overlay.show {
    display: block;
  }
  footer .footer-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer .footer-grid .footer-item:nth-child(4) {
    grid-column: 2 / span 2;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
    flex-direction: column-reverse;
  }
  .hero-img {
    position: relative;
  }
  .hero-img .phone {
    width: 90%;
    margin-left: initial;
    top: -210px;
    left: 5%;
  }
}

@media (max-width: 540px) {
  .grid-col {
    grid-template-columns: 1fr;
  }
  .hero-body h1 {
    font-size: 2.5rem;
  }
  .hero-img .phone {
    top: -85px;
    left: 7%;
    width: 90%;
  }
  .why {
    text-align: center;
  }
  .why .grid-col {
    gap: 2rem;
  }
  .why .incentives img {
    margin: auto;
  }
  footer .footer-grid {
    text-align: center;
    grid-template-columns: 1fr;
  }
  footer .footer-grid .footer-item .social-icons {
    align-items: center;
    justify-content: center;
  }

  footer .footer-grid .footer-item:nth-child(4) {
    grid-column: initial;
    margin-left: initial;
    text-align: center;
  }
}
