* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --font-family: "Barlow Semi Condensed", "Public Sans", sans-serif;
  --darkBlue: hsl(233, 26%, 24%);
  --Green: hsl(136, 64%, 51%);
  --Cyan: hsl(192, 69%, 51%);
  --Gray-600: hsl(233, 8%, 62%);
  --Gray-100: hsl(220, 16%, 96%);
  --Gray-50: hsl(0, 0%, 98%);
  --White: hsl(0, 100%, 100%);
}

img {
  display: block;
}

section {
  padding: 4rem 0;
  font-weight: 300;
}
section p {
  color: var(--Gray-600);
}

section h2 {
  font-weight: 300;
  font-size: 2.25rem;
}

body {
  font-size: 18px;
  font-family: var(--font-family);
  line-height: 1.4;
}
.rq-btn {
  cursor: pointer;
  background: var(--Green);
  background: -moz-linear-gradient(
    90deg,
    rgb(50, 210, 93) 0%,
    rgb(44, 182, 216) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgb(50, 210, 93) 0%,
    rgb(44, 182, 216) 100%
  );
  background: linear-gradient(
    90deg,
    rgb(50, 210, 93) 0%,
    rgb(44, 182, 216) 100%
  );
  color: var(--White);
  padding: 12px 24px;
  font-weight: 700;
  border-radius: 20px;
  border: 0;
}
